@import "./utils";

@import "./reset";
@import "./base";

@import "./main";
@import "./typography";

@import "./slider";
@import "./deco";

.rects {
  position: absolute;
  z-index: 1000;
  left: 0;
  height: 100vh;
  width: 100vw;
  top: 0;
  .rect {
    position: absolute;
    &:nth-child(1) {
      left: 20px;
      top: 20px;
    }
    &:nth-child(2) {
      right: 20px;
      top: 20px;
      .circle {
        position: absolute;
        right: 18px;
        top: 22px;
        width: 29px;
        height: 29px;
      }
    }
    &:nth-child(3) {
      right: 20px;
      bottom: 20px;
    }
    &:nth-child(4) {
      left: 20px;
      bottom: 20px;
    }
  }
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: 1000;
  background-color: #111111;
  overflow: hidden;
  top: 0;
  &.loaded {
    .preloader-layer {
      animation: layer 1.5s both;
      animation-timing-function: cubic-bezier(0.83, 0, 0.17, 1);
    }
    &.hide{
      animation: fadeOut 1s both;
    }
  }
  &-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #ff4848;
    animation: bounced 1.5s infinite;
    z-index: 5;
    width: 70px;
    height: 70px;
  }
  &-noise {
    height: 200vh;
    width: 200vw;
    animation: bg-animation 0.2s infinite;
    background: transparent url(../img/noise-transparent.png) repeat 0 0;
    position: absolute;
    left: -50%;
    top: -50%;
  }

  &-layer {
    background-color: #0e0e0e;
    position: absolute;
    transform: translateY(100vh);
    left: 0;
    top: 0;
    width: 100%;
    z-index: 4;
    height: 100%;
  }
  @keyframes bg-animation {
    0% {
      transform: translate(0, 0);
    }
    10% {
      transform: translate(-5%, -5%);
    }
    20% {
      transform: translate(-10%, 5%);
    }
    30% {
      transform: translate(5%, -10%);
    }
    40% {
      transform: translate(-5%, 15%);
    }
    50% {
      transform: translate(-10%, 5%);
    }
    60% {
      transform: translate(15%, 0);
    }
    70% {
      transform: translate(0, 10%);
    }
    80% {
      transform: translate(-15%, 0);
    }
    90% {
      transform: translate(10%, 5%);
    }
    100% {
      transform: translate(5%, 0);
    }
  }
  @keyframes layer {
    0% {
      transform: translateY(100vh);
    }
    50% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-100vh);
    }
  }
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes bounced {
    0% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    61% {
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}
